*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.25%;
    box-sizing: border-box;

    

    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(tab-land) {
        font-size: 52.25%;
    }
    @include respond(big-desktop) {
        font-size: 75%;
    }
}

.coheading-1 {
    grid-row: 2 / 3;
    grid-column: 1  /-1;
    font-size: 6.4rem !important;
    text-rendering: optimizeLegibility;
    animation: fadeInLeft 1s;
    text-align: center !important;
    margin: 6rem auto;
    
    @include respond(xs-phone) {
        padding: 0 2.5rem !important;
        font-size: 3rem !important;
    }
    @include respond(phone) {
        font-size: 3rem !important;
    }
}

.cop-container {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    height: 40vh !important;
    // background: lightgray;

    display: flex;
    justify-content: center;

    @include respond(tab-land) {
        height: 20vh !important;
    }
    @include respond(phone) {
        height: 20vh !important;
    }
    @include respond(xs-phone) {
        height: 34vh !important;
    }

    .copara {
        margin: auto !important;
        padding: 0 24% !important;
        font-family: $font-text;
        font-size: 1.6rem !important;
        text-align: justify;
        hyphens: auto;
        line-height: 2.6rem !important;
        animation: fadeInTop 2s;
        text-rendering: optimizeLegibility;

        @include respond(phone) {
            // padding: 0 4rem 0 4rem !important;
            padding: 0 6rem !important;
        }
    }
}

.cogallery {
    grid-row: 4 / 5;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    // grid-template-rows: repeat(auto, minmax(10rem, 100px));
    grid-auto-rows: minmax(8rem, 10rem);
    grid-gap: 1.5rem;
    padding: 6.2rem;
    grid-auto-flow: dense;
    

    @include respond(phone) {
        // margin: 20vh 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 16vh;
    }

    &__img {
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        display: block;
        
        @include respond(phone) {
            margin-top: 3rem;
        }

        &:hover {
            transform: scale(1.4);
        }
    }
    

    &__item {
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }

        &-1 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-2 {
            grid-row: span 4;
            grid-column: span 9;
        }
        &-3 {
            grid-row: span 2;
            grid-column: span 9;
        }
        &-4 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-5 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-6 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-7 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-8 {
            grid-row: span 3;
            grid-column: span 4;
        }
        &-9 {
            grid-row: span 3;
            grid-column: span 3;
        }
        &-10 {
            grid-row: span 3;
            grid-column: span 5;
        }
        &-11 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-12 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-13 {
            grid-row: span 5;
            grid-column: span 4;
        }
        &-14 {
            grid-row: span 4;
            grid-column: span 5;
        }
        &-15 {
            grid-row: span 3;
            grid-column: span 6;
        }
        &-16 {
            grid-row: span 2;
            grid-column: span 2;
        }
        &-17 {
            grid-row: span 3;
            grid-column: span 3;
        }
        &-18 {
            grid-row: span 3;
            grid-column: span 5;
        }

        &-title {
            font-size: 2.4rem;
            text-transform: uppercase;
            font-family: $font-text;
            letter-spacing: 3px;
            font-weight: lighter;
            position: absolute;
            background: #fff;
            z-index: 10;
            visibility: hidden;
        }

        &:hover .gallery__item-title {
            animation: fadeInLeft .4s;
            visibility: visible;
            z-index: 10;
        }
    }
}