.contact {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, minmax(3rem, 1fr));
    grid-column: 1 / -1;
    grid-row: 8 / 9;
    height: 80vh;
    // background: $color-gray-light;
    margin: 0 6rem;
    padding: 3rem 0;

    &__h1 {
        grid-row: 4 / 5;
        align-self: center;
        font-family: $font-display;
        font-weight: bold;
        font-size: 12rem;
        color: rgb(235, 235, 235);
        letter-spacing: 2px;
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
    }

    &__overlap-h2 {
        font-size: 3.4rem;
        font-family: $font-para;
        font-weight: 300;
        grid-row: 4 / 5;
        grid-column: 5 / span 4;
        align-self: flex-end;
    }
    &__email {
        grid-row: 6 / 7;
        grid-column: 4 / span 4;
        justify-self: center;
        font-family: $font-para;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
        transition: all .2s;
        text-rendering: optimizeLegibility;

        &:hover {
            transform: scale(1.1);
        }
    }

}