.contact {
    grid-row: 5 / span 2;
    grid-column: 1 / -1;
    display: flex;
    height: 88vh;
    margin: 0 6rem;
    padding: 3rem 0;

    @include respond(tab-land) {
        flex-direction: column; 
    }
    @include respond(tab-port) {
        margin: 0;
        padding: 0 4rem;
    }
    @include respond(phone) {
        // height: 110vh; // keeps contact inside container from bleeding into container above in mobile
    }
e
    &__left {
        flex-basis: 40%;
        background-image: url('https://res.cloudinary.com/dci5hckoq/image/upload/v1550531206/pexels-photo-1905975_tv8qu1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        
        @include respond(tab-port) {
            visibility: hidden;
            flex-basis: 0%;
        }
        @include respond(phone) {
            // flex-basis: 0%;
        }
    }
    &__right {
        flex-basis: 60%;
        background: #FFF;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 4rem;

        @include respond(phone) {
            margin-top: 10rem;
        }
    }
    &__h1 {
        text-transform: uppercase;
        animation: none !important;
        align-self: flex-start !important;

        &:hover {
            cursor: none !important;
            color: black !important;
        }
    }
    &__h2 {
        margin: 0 0 3rem 8rem;
        font-size: 4.5rem !important;

        @include respond(tab-port) {
            font-size: 3.5rem !important;
            margin: 0;
        }

        @include respond(phone) {
            font-size: 3rem !important;
            margin: 0;
            line-height: 5.5rem;
            
        }

        .request {
            border-bottom: 2px solid $color-primary-light;
            padding-bottom: 1rem;
        }
    }

    &__email {
        margin: 0 0 0 8rem;

        @include respond(tab-port) {
            margin: 0;
        }
        @include respond(phone) {
            margin: 6rem 0 6rem 0;
        }
    }
    &__arrow {
        margin-left: 1rem;
        font-size: 1.5rem;

        @include respond(tab-port) {
            margin-left: 0;
        }
        @include respond(phone) {
            margin: 4rem 0 4rem 0;
        }
    }
}