*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.25%;
    box-sizing: border-box;

    

    @include respond(tab-port) {
        font-size: 50%;
    }
    @include respond(tab-land) {
        font-size: 52.25%;
    }
    @include respond(big-desktop) {
        font-size: 75%;
    }
}

.dheading-1 {
    grid-row: 2 / 3;
    grid-column: 1  /-1;
    font-size: 6.4rem !important;
    text-rendering: optimizeLegibility;
    animation: fadeInLeft 1s;
    text-align: center !important;
    margin: 6rem auto !important;
    
    @include respond(xs-phone) {
        padding: 0 2.5rem !important;
        font-size: 3rem !important;
    }
    @include respond(phone) {
        font-size: 3rem !important;
    }
}

.dp-container {
    // background: #444;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    height: 50vh !important;
    // background: lightgray;

    display: flex;
    justify-content: center;

    
    @include respond(phone) {
        height: 46vh !important;
    }
    @include respond(xs-phone) {
        height: 80vh !important;
    }

    .dpara {
        margin: auto !important;
        padding: 0 24% !important;
        font-family: $font-text;
        font-size: 1.6rem !important;
        text-align: justify;
        hyphens: auto;
        line-height: 2.6rem !important;
        animation: fadeInTop 2s;
        text-rendering: optimizeLegibility;

        @include respond(phone) {
            padding: 0 6rem !important;
        }
    }
}

.dgallery {
    grid-row: 4 / 5;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    // grid-template-rows: repeat(auto, minmax(10rem, 100px));
    grid-auto-rows: minmax(6rem, 12rem);
    grid-gap: 1.5rem;
    padding: 6.2rem;
    grid-auto-flow: dense;
    

    @include respond(phone) {
        // margin: 20vh 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 16vh;
    }

    &__img {
        width: 100%;
        height: 100%;;
        transition: all .3s ease-in-out;
        display: block;
        
        @include respond(phone) {
            margin-top: 3rem;
        }

        &:hover {
            transform: scale(1.4);
        }
    }
    

    &__item {
        // border: 1.2rem solid $color-gray-dark;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }

        &-1 {
            grid-row: span 4;
            grid-column: span 7;
        }
        &-2 {
            grid-row: span 2 ;
            grid-column: span 8;
        }
        &-3 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-4 {
            grid-row: span 3;
            grid-column: span 5;
        }
        &-5 {
            grid-row: span 4;
            grid-column: span 3;
        }
        &-6 {
            grid-row: span 3;
            grid-column: span 4;
        }
        &-7 {
            grid-column: span 3;
        }
        &-8 {
            grid-row: span 5;
            grid-column: span 4;
        }
        &-9 {
            grid-row: span 4;
            grid-column: span 5;
        }
        &-10 {
            grid-row: span 4;
            grid-column: span 4;
        }
        &-11 {
            grid-row: span 4;
            grid-column: span 5;
        }
        &-12 {
            grid-column: span 2;
        }
        &-13 {
            grid-row: span 3;
            grid-column: span 4;
        }
        &-14 {
            grid-row: span 3;
            grid-column: span 4;
        }
        &-15 {
            grid-row: span 3;
            grid-column: span 3;
        }

        &-title {
            font-size: 2.4rem;
            text-transform: uppercase;
            font-family: $font-text;
            letter-spacing: 3px;
            font-weight: lighter;
            position: absolute;
            background: #fff;
            z-index: 10;
            visibility: hidden;
        }

        &:hover .gallery__item-title {
            animation: fadeInLeft .4s;
            visibility: visible;
            z-index: 10;
        }

        &-inside {
            // height: 14rem;
            // display: block;
            // height: 100%;
            // width: 100%;
            // background: #FFF;
        }
    }
}

// .ToTop {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     background: transparent;
//     // padding: 2rem;
//     // bottom: 10rem;
//     // right: 10rem;
//     position: fixed;
//     background: transparent;
//     padding: 2rem;
    

//     &__icon {
//         height: 3rem;
//         width: 3rem;
//         fill: lighten($color-gray-md, 26);
//         z-index: 5;
//         transition: all .4s;
//         // position: absolute;

//         &-box {
//             border: none;
//             height: 100%;
//             background: transparent;
//         }

//         &:hover {
//                 cursor: pointer;
//             }

//     }
    
// }