.footer {
    grid-row: 9 / 10;
    grid-column: 1 / -1;
    
    height: 16vh;
    // background: $color-gray-dark;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-light;
    font-size: 1.2rem;
    font-family: $font-text;
    letter-spacing: 2px;

    @include respond(phone) {
        flex-direction: column;
        height: 30vh;
    }

    .p1 {
        max-width: 50rem;
        text-align: center;
        flex-basis: 33.3%;
        order: 2;
        line-height: 2rem;
        
        @include respond(tab-port) {
            flex-basis: 66.6%;
            justify-self: flex-start;
        }
        @include respond(phone) {
            padding: 0 .5rem 0 .5rem;
            align-self: center;
        }
    }
    .p2 {
        flex-basis: 33.3%;
        order: 1;

        @include respond(tab-port) {
            flex-basis: 33.3%;
        }
    }
    .ToTop {
        flex-basis: 33.3%;
        order: 3;
        // width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;

        @include respond(phone) {
            order: 1;
            margin: 4vh 0;
        }

        &__icon-box {
            display: flex;
            justify-content: flex-end;

            @include respond(phone) {
                margin-right: 0 !important;
            }
            @include respond(tab-port) {
                margin-right: 3rem;
            }
        }
        &__icon {
            fill: $color-primary-light;
            height: 5rem;
            width: 5rem;
            border: 2px solid $color-primary-light;
            border-radius: 50%;
            padding: 1rem;
            transition: .1s ease-in-out;
        }
    }
}