.footer {
    grid-row: 9 / 10;
    grid-column: 1 / -1;
    
    height: 10vh;
    background: $color-gray-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primary-light;
    font-size: 1.4rem;
    font-family: $font-text;
    letter-spacing: 2px;
}