.landing {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 70vh;
    background-image: url('https://res.cloudinary.com/dci5hckoq/image/upload/c_scale,w_1100/v1545199671/wolfWatercolor_jvboko.jpg');
    background-position: bottom right;
    background-size: 35%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @include respond(phone) {
        height: 90vh;
        background-size: 60%;
    }

    .heading-1 {
        max-width: 50%;
        margin-bottom: 10rem;
        line-height: 6.5rem;
        grid-column: 2 / 8;


        @include respond(phone) {
            line-height: 4rem;
            max-width: 42rem;

            margin: 0 2rem 20rem 2rem;
        }
        @include respond(tab-port) {
            max-width: 50rem;
        }
        @include respond(tab-land) {
            max-width: 85%;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        // background: $color-gray-light;
        margin-top: -30rem;


        @include respond(phone) {
            flex-direction: column;
            margin-top: -38rem;
        }

        @include respond(big-desktop) {
            margin-top: -30rem;
        }
    }

    &__buttons-btn1 {
        // width: 22rem;
        background: $color-primary-light;
        border: 1px solid $color-primary-light;
        margin-right: 2rem; // space between buttons

        &:hover {
            background: darken($color-primary-light, 7);
            cursor: pointer;
        }

        @include respond(phone) {
            align-self: center;
            justify-self: center;
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
    
    &__buttons-btn2 {
        border: 1px solid $color-gray-light;
        background: #fff;
        position: relative;

        &:hover {
            background: darken(#FFF, 6);
            cursor: pointer;
        }

        @include respond(phone) {
            align-self: center;
            justify-self: center;
        }
    }
}

.main {
    height: 100vh;
    background: $color-gray-light;
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}