.heading-1 {
    font-size: 5.5rem;
    font-weight: 300;
    font-family: $font-display;
    text-align: center;
    color: $color-gray-dark;
    text-rendering: optimizeLegibility;
}

.heading-2 {
    font-size: 4.5rem;
    color: $color-gray-dark;
    font-family: $font-display;
    font-weight: lighter;
    text-rendering: optimizeLegibility;
}

.heading-4 {
    font-size: 1.2rem;
    font-family: $font-para;
    text-transform: uppercase;
    font-weight: light;
    color: $color-primary;
    letter-spacing: 1.2px;
    text-rendering: optimizeLegibility;
}

.heading-3 {
    font-family: $font-text;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .5rem;
    transition: .2s;
    text-rendering: optimizeLegibility;

    &:hover,
    &:active,
    &:focus {
        color: $color-primary;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: $color-gray-dark;
        text-rendering: optimizeLegibility;
    }

    @include respond(phone) {
        letter-spacing: .2rem;
        margin-left: 2rem;
        font-weight: 400;
    }
    @include respond(tab-port) {
        font-weight: 400;
    }
}

.occu {
    font-family: $font-text;
    font-weight: lighter;
    font-size: 5rem;
    text-rendering: optimizeLegibility;

    @include respond(phone) {
            font-size: 3rem;
            line-height: 4rem;
            max-width: 42rem;

            margin: 0 2rem 20rem 2rem;
        }
        @include respond(tab-port) {
            max-width: 50rem;
        }
        @include respond(tab-land) {
            max-width: 85%;
        }
}

.landing__buttons-btn1 {
    color: $color-offwhite;
    text-rendering: optimizeLegibility;
}

.landing__buttons-btn2 {
    color: $color-gray-dark;
    text-rendering: optimizeLegibility;
}